body{
	overflow: scroll !important;
}
/*
.login-container .middle-login {
    width: 80%!important;
    left: 10%!important;
    padding: 0 15px!important;
 
}
.login-container {
    width: 321px !important;
}
 
/*
.login-container .middle-login {
    left: auto!important;
    width: 100%!important;
    padding: 20px 10px 0px 10px!important;
    margin-left: 0!important;
}
*/
/*
#HotKeyActionBox{
	left: 274px!important;
}
#HotKeyActionBox table{
	width:793px!important;
}

#AgentXferViewSpan.col-lg-push-2 {
    left: 18.667%;
}
#AgentXferViewSpan{
	top: 4px!important;
}
#TerritorySelectBox{
	z-index: 0!important;
}
#SearcHContactsDisplaYBox{
	z-index: -2!important;
}
#DiaLInGrouPSelectBox{
	top: 74px!important;
}
#InvalidOpenerSpan table{
 width: 1358px !important;

}*/
 

